.btn {
    box-sizing: border-box;
    border-radius: 10px;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 27px;
    text-align: center;

    color: #FFFFFF;
    
    background: var(--secondary-color);
    padding: 9px;
    cursor: pointer;
}