.page.CryptoPunks {
    display: flex;
    flex-direction: column;
    background: #74B370;
}

.CryptoPunks .top {
    width: 100%;
    margin-bottom: 20px;
}

.CryptoPunks .container {
    width: calc(100% - 40px);
    background: #FFFFFF;
    border-radius: 20px;
    margin: 20px;
}

.CryptoPunks .title {
    font-style: normal;
    font-weight: bold;
    font-size: 34px;
    line-height: 46px;
    color: #EC6D5F;
    text-align: center;
    margin-top: 40px;
}

.CryptoPunks .description {
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 27px;
    color: #716B6B;
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 30px;
}

.CryptoPunks .subheader {
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 27px;
    color: #74B370;
    margin-left: 20px;
}

.CryptoPunks .button {
    width: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
}

.CryptoPunks .footer-button {
    font-family: Nunito;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    /* identical to box height */
    text-align: center;
    color: #F8F8F7;
    background: #EC6D5F;
    border-radius: 24px;
    padding: 10px 4px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
}

.CryptoPunksallimageframe {
    width: 104%;
    height: 100%;
}

.CryptoPunksalldate {
    display: initial;
    position: relative;
    justify-content: left;
    justify-items: left;
    margin-left: 18px;
    color: #e34331;
    font-weight: bolder;
    font-size: 20px;
}

.CryptoPunksallcontainer {
    display: block;
    width: min-content;
    background: #FFFFFF;
    border-radius: 20px;
    margin: 20px;
    height: 20%;
}

.notimagecontainer {
    width: calc(100% - 40px);
    background: #FFFFFF;
    border-radius: 20px;
    margin: 20px;
    height: 90%;
}

.collectedall {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    overflow-y: overlay;
}

.cryptopunksallcontainer{
    height: fit-content;
        margin-left: 5px;
    margin-right: 5px;
}
.cryptopunksallimageframe{
        width: auto;
    height: 81px;
    image-rendering: pixelated;
}
.cryptopunksalldate{
      margin-top: 0;
    margin-bottom: 0px;  
}