.page.donate {
    display: flex;
    flex-direction: column;
    background: var(--secondary-color);
}

.donate .top {
    width: 100%;
    margin-bottom: 20px;
    padding: 50px 0px 20px 0px;
}

.donate .top img {
    width: 90%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.donate .action {
    background: #EC6D5F;
    border: 1px solid #EF402D;
    box-sizing: border-box;
    border-radius: 20px;
    font-family: Nunito;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 41px;
    text-align: center;
    padding: 16px 16px;
    color: #FFFFFF;
    margin-left: 22px;
    margin-right: 22px;
    cursor: pointer;
}

.donate .title {
    font-family: Nunito;
    font-style: normal;
    font-weight: bold;
    font-size: 28px;
    line-height: 55px;
    color: #EC6D5F;
    margin-left: 30px;
    margin-bottom: 0px;
    text-align: center;
    margin-right: 30px;
}

.loading {
    font-family: Nunito;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 55px;
    color: #EC6D5F;
    margin-left: 30px;
    margin-bottom: 30px;
    text-align: center;
    margin-right: 30px;
}

.donate .container {
    background: #FFFFFF;
    flex: 1;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    padding-top: 25px;
    display: flex;
    flex-direction: column;
}

.donate .container .progress {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
}

.donate .container .form {
    padding-left: 30px;
    padding-right: 30px;
}

.donate .container .bottom {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.donate .transfer-container {
    display: flex;
    flex-direction: column;
    position: relative;
    margin-left: 30px;
    margin-right: 30px;
}

.donate .transfer-container .box {
    background: #FFFFFF;
    border: 1px solid #EC6D5F;
    box-sizing: border-box;
    border-radius: 20px;
    height: 43px;
    margin-bottom: 4px;
    display: flex;
    padding-left: 10px;
}

.donate .transfer-container .box input {
    flex: 1;
    outline: none;
    border-width: 0px;
    border: none;
    background: transparent;
    padding-left: 10px;
    font-size: 30px;
    min-width: 0;
    font-size: 15px;
}

.donate .transfer-container .icon {
    height: 30px;
    position: absolute;
    top: calc(50% - 16px);
    left: calc(50% - 15px);
}

.donate .button {
    margin-top: 30px;
    margin-left: 35px;
    margin-right: 35px;
    cursor: pointer;
}

.imageicon {
    width: 41px;
}

.statusbox {
    vertical-align: middle;
    text-align: center;
    width: 90%;
    padding: 9px;
    overflow: hidden;
}

.statustext {
    margin: 0;
    text-overflow: ellipsis;
}

.celo {
    width: 144px;
}