.page.welcome .bottom{
    position: absolute;
    bottom: 0;
    width: 100%;
}

.page.welcome .bottom .button {
    width: 170px;
    height: 170px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #18191E;
    color: white;
    border-radius: 85px;
    position: absolute;
    bottom: 7vh;
    left: 6vw;
    font-style: normal;
    font-weight: 300;
    font-size: 30px;
    line-height: 41px;
    cursor: pointer;
}

.page.welcome .bottom .bottom-background {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
}

.page.welcome .top {
    position: absolute;
    left: 10vw;
    right: 0;
    top: 8vh;
}

.page.welcome .top .welcome {
    font-style: normal;
    font-weight: bold;
    font-size: 50px;
    line-height: 68px;
    
    color: #000000;
}

.page.welcome .top .name {
    font-style: normal;
    font-weight: bold;
    font-size: 50px;
    line-height: 68px;

    color: #7EB87A;
}