.register .PhoneInput {
    background: rgba(255, 255, 255, 0.25);
    border: 1px solid var(--secondary-color);
    box-sizing: border-box;
    border-radius: 10px;
    margin-top: 8px;
    margin-bottom: 12px;
    width: 100%;
}

.register .PhoneInputCountry {
    padding: 10px;
    border-right: 1px solid var(--secondary-color);
}

.register .PhoneInputInput {
    padding: 10px;
    border: none;
    background: transparent;
}

.register .btn {
    width: 100%;
}

.card {
    padding: 50px 57px 63px 57px !important;
    margin: 25px !important;
}

.subtitle {
    margin: 0px -48px 0px -39px !important;
    font-size: 25px !important;
    padding-bottom: 30px;
}