.page.cards-three {
    display: flex;
    flex-direction: column;
    background: var(--secondary-color);
}

.cards-three .top {
    width: 100%;
    margin-bottom: 20px;
    padding: 50px 0px 20px 0px;
}

.cards-three .top img {
    width: 90%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.cards-three .action {
    background: #EC6D5F;
    border: 1px solid #EF402D;
    box-sizing: border-box;
    border-radius: 20px;
    font-family: Nunito;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 41px;
    text-align: center;
    padding: 16px 16px;
    color: #FFFFFF;
    margin-left: 22px;
    margin-right: 22px;
    cursor: pointer;
}

.cards-three .container {
    background: #FFFFFF;
    flex: 1;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    padding-top: 25px;
    display: flex;
    flex-direction: column;
}

.cards-three .container .progress {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
}

.cards-three .container .form {
    padding-left: 30px;
    padding-right: 30px;
}

.cards-three .container .next {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
}

.place {
    width: 94%;
    height: 65%;
    border: 1px solid RGB(241, 243, 246);
    border-radius: 30px;
    background: RGB(241, 243, 246);
    margin: 0 3%;
}

.addressplace {
    padding: 0px 0px 0px 18px;
}

.change {
    color: green;
    text-decoration: none;
}

.header img {
    width: 10%;
    height: 10%;
    right: 0px;
    float: right;
    margin: -51px 0px 0px 0px;
}

.paymenticon {
    width: 26%;
    height: 34%;
    padding-right: 10%;
}

.containingpayment {
    display: flex;
}

.cardname {
    margin: 0;
}

.hidden {
    font-size: 22px;
    padding-bottom: 0;
    margin-bottom: 0;
}